.parent {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: grid;
    grid-template-columns: 1fr;

    > div {
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: auto auto;
    }
}

.nav-box, .add-new {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
    padding: 0px 15px;
}
.add-new {
    background-color: #444444;
    padding-bottom: 10px;
    cursor: pointer;
    color: #E6FB04;
    text-align: center;

    > div:nth-child(1) {
        color: #E6FB04;

        > span {
            font-size: 5em;
        }
    }
}
.nav-box {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(193, 241, 16);
    background-image: linear-gradient(45deg, #00b09b, #9ed113, #d4e914);
    cursor: default;
}
.nav-box:hover, .add-new:hover {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.8);
}
.nav-ele {
    align-self: center;
    justify-self: center;
    margin: 30px 15px;
}