<div class="parent">
    <div>
        <div class="add-new">
            <div class="cursor-pointer" title="New Peper" (click)="new()">
                <span class="material-icons-two-tone font-3-0">add</span>
            </div>
            <div>New Peper</div>
        </div>
        <div class="nav-box">
            <div class="nav-ele" title="Peper"><img src="../../assets/icons/favicon-32x32.png"></div>
            <div class="nav-ele cursor-pointer" (click)="navigate('/')" title="Home"><span class="material-icons-two-tone font-3-0">home</span></div>
            <div class="nav-ele cursor-pointer" (click)="navigate('/archive')" title="Archive"><span class="material-icons-two-tone font-3-0">archive</span></div>
            <div class="nav-ele cursor-pointer" (click)="navigate('/settings')" title="Settings"><span class="material-icons-two-tone font-3-0">settings</span></div>
        </div>
    </div>
</div>
